{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="header">
        <span class="logo"> Bookmarks </span>

        {% if request.user.is_authenticated %}
            <ul class="menu">

                <li {% if section == 'dashboard' %} class="selected" {% endif %}>
                    <a href="{% url 'dashboard' %}">My Dashboard</a>
                </li>

                <li {% if section == 'images' %} class="selected" {% endif %}>
                    <a href="#">Images</a>
                </li>

                <li {% if section == 'people' %} class="selected" {% endif %}>
                    <a href="#*">People</a>
                </li>
            </ul>
        {% endif %}

        <span class="user">
            {% if request.user.is_authenticated %}
                Hello, {{ request.user.username }}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Log-in</a>
            {% endif %}
        </span>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="content">
        {% block content %}
    {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--You load the jQuery framework from Google's CDN. You can also download jQuery
        from https://jquery.com/ and add it to the static directory of your application instead-->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    <!--You load the JS Cookie plugin from a public CDN so that you can easily interact with cookies.-->
    <script>
        // To read the value of the csrftoken cookie with Cookies.get().
        var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
            // To check whether the request method is safe and that the current request is not cross-domain.
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $(document).ready(function(){
            {% block domready %}
                $('a.like').click(function(e){
                    e.preventDefault();
                    $.post('{% url "images:like" %}'),
                    {
                        id: $(this).data('action')
                    },
                    function(data){
                        if (data['status'] == 'ok')
                        {
                            var previous_action = $('a.like').data('action');

                            // toggle data-action
                            $('a.like').data('action', previous_action == 'like '? 'unlike' : 'like');

                            // toggle link text
                            $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

                            // update total likes
                            var previous_likes = parseInt($('span.count .total').text());

                            $('span.count .total').text(previous_action == 'like':? previous_likes+1 : previous_likes-1)
                        }
                    }
                );
                });
            {% endblock %}
        });
    </script>
    <!-- $.ajaxSetup: Before each AJAX request, you check whether the request method is safe and that the current request is not cross-domain.
        If the request is unsafe, you set the X-CSRFToken header with the value obtained from the cookie.
        This setup will apply to all AJAX requests performed with jQuery.-->
    <!--The CSRF token will be included in all AJAX requests that use unsafe HTTP methods, such as POST or PUT.-->
</body>
</html>
